.calculate-cost {
  padding: 60px 0;
}

.calculate-cost__text-block {
  padding: 35px 0;
}

.calculate-cost__title {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.calculate-cost__text {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.4;
  @media screen and (max-width: 680px) {
    font-size: 1.4rem;
  }
}

.calculate-cost__pros-list {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 20px;
  @media screen and (max-width: 680px) {
    font-size: 1.4rem;
  }
}

.calculate-cost__list-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  &::before {
    position: absolute;
    content: "";
    background: url(../../img/list.svg) 0 0 / contain no-repeat;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
  }
}

.calculate-cost__button {
  font-size: 1.4rem;
  svg {
    path {
      fill: black;
    }
  }
}

@media screen and (min-width: 1024px) {
  .calculate-cost__subsection {
    display: flex;
    align-items: center;
    &:nth-child(2n) {
      margin-top: -100px;
      flex-direction: row-reverse;
      .calculate-cost__text-col {
        padding-top: 100px;
        align-items: center;
      }
    }
  }
  .calculate-cost__text-col {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 45%;
    padding-bottom: 100px;
  }

  .calculate-cost__img-col {
    flex-shrink: 0;
    width: 55%;
  }

  .calculate-cost__photo {
    width: 100%;
  }

  .calculate-cost__text-block {
    padding: 40px;
    max-width: 600px;
  }

  .calculate-cost__title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .calculate-cost__text {
    margin-bottom: 32px;
  }

  .calculate-cost__pros-list {
    margin-bottom: 40px;
  }

  .calculate-cost__list-item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    &::before {
      position: absolute;
      content: "";
      background: url(../../img/list.svg) 0 0 / contain no-repeat;
      left: 0;
      top: 7px;
      // top: calc(50% - 7px);
      width: 14px;
      height: 14px;
    }
  }
}
