.calculate {
  margin-top: 60px;
}

.order {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculate__text-block {
  width: 40%;
}

.calculate__photo{
  width: 60%;
}

.calculate__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.order__title{
  margin-top: 23px;
}

.order__button{
  margin-bottom: 114px;
}

.calculate__text {
  margin-bottom: 32px;
}

.pros__list {
  margin-left: 20px;
  margin-bottom: 22px;
  width: 100%;
  position: relative;
}

.list__item {
  position: relative;
  padding-bottom: 12px;
  &::before {
    position: absolute;
    content: "";
    background: url(../../img/list.svg) 0 0 / contain no-repeat;
    left: -25px;
    top: 4px;
    width: 14px;
    height: 14px;
  }
}

.requirement {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  margin-bottom: 196px;
  margin-top: -100px;
}

.requirement__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 374px;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 114px;
  font-size: 14px;
}

.calculation__requirement__img{
width: 60%;
height: auto;
}

@media screen and (max-width: 1440px){
  .requirement__text-block{
    margin-top: 175px;
  }

  .calculate__text-block{
    margin-top: 30px;
    margin-bottom: 20px;
  }

}
