.designer{
  margin-top: 76px;
}

.section__designers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.designers__text-block {
  margin-right: 40px;
}

.designes__title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
}

.designers__text {
  font-size: 18px;
  margin-bottom: 42px;
}

.profiles {
  display: grid;
  width: 70%;
  grid-template-columns: 287px 287px 287px  ;
  gap: 44px;
  overflow: hidden;
}

.profile {
  position: relative;
  width: 289px;
  &:hover {
    .profile__text-block {
      opacity: 1;
    }
  }
}

.profile__text-block {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  padding: 50px;
  width: 289px;
  height: 392px;
  background: rgba(#000, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.profile__name {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.profile__job {
  font-size: 22px;
  font-weight: 200;
  color: #fae2b4;
}

.profile__photo {
  background-color: rgba(0, 0, 0, 0.4);
  height: 392px;
  position: fixed;
  width: 289px;
  top: 0;
  left: 0;
}
