.designers {
  padding: 40px 0 45px;
}

.designers__text-block {
  margin-bottom: 40px;
}

.designes__title {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.designers__text {
  font-size: 1.6rem;
  margin-bottom: 28px;
}

.designers__slider {
  margin-left: -20px;
  padding: 0 20px;
  overflow: hidden;
}

.designers__slide.designers__slide {
  width: 100%;
  max-width: 293px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.designers__profile {
  position: relative;
  width: 100%;
}

.profile {
  &:hover {
    .profile__text-block {
      opacity: 1;
    }
  }
  img {
    width: 100%;
  }
}

.profile__text-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.4);
  transition: opacity 0.5s ease;
  opacity: 0;
}

.profile__name {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.profile__job {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fae2b4;
}

.profile__photo {
  background-color: rgba(0, 0, 0, 0.4);
  height: 358px;
  position: fixed;
  width: 335px;
  top: 0;
  left: 0;
}

.profile__swiper {
  width: 100%;
}

.profile__swiper {
  width: calc(100% + 20px);
  margin-left: -20px;
  padding-left: 20px;
  padding-bottom: 42px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .designers__content {
    display: flex;
    align-items: flex-start;

    .container-left {
      width: 35%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .designer {
    margin-top: 76px;
  }

  .designers__content {
    .container-left {
      width: 30%;
    }
  }

  .designers__text-block {
    padding: 30px 40px;
  }

  .designes__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .designers__text {
    margin-bottom: 42px;
  }

  .profile__photo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 392px;
    position: fixed;
    width: 289px;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 1440px) {
  .designers__slide.designers__slide {
    width: calc(25% - 15px);
    max-width: unset;
  }
}
