.headline {
  padding: 15px 0 45px;
}

.headline__title {
  font-size: 3.4rem;
  line-height: 1;
  font-weight: 500;
  padding-bottom: 18px;
  padding-right: 40px;
  text-transform: uppercase;
}

.headline__text-block {
  display: flex;
  flex-direction: column;
  margin-right: 35px;

  .headline__text-content-desktop {
    display: none;
  }
}

.headline__text-block--mobile-duplicate {
  margin-top: 18px;
}

.headline__text {
  font-size: 1.8rem;
  line-height: 1.4;
  padding-bottom: 42px;
  @media screen and (max-width: 680px) {
    font-size: 1.4rem;
  }
}

.headline__slider {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.photo-headline {
  width: 100%;
}

.headline__slider {
  margin-left: -20px;
  width: calc(100% + 20px);
}

@media screen and (min-width: 1024px) {
  .headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  .headline__text-block {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    width: 100%;
    .headline__text-content-desktop {
      display: block;
    }
  }

  .headline__text-block--mobile-duplicate {
    display: none;
  }

  .headline__title {
    font-size: 3.4rem;
    line-height: 48px;
    font-weight: 500;
    padding-bottom: 18px;
    text-transform: uppercase;
  }

  .headline__text {
    // font-size: 1.2rem;
    padding-bottom: 42px;
  }

  .headline__slider {
    flex-grow: 1;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }
}
