.material__section {
  background-color: #f4f0ea;
  padding-bottom: 50px;
  position: relative;
}

.material__slider {
  display: flex;
  width: 100%;
}

.material__title {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 38px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.material__photos {
  width: 80%;
  margin: 0 -10px;
}

.material-photos__item {
  > div {
    margin: 0 10px;
  }
}

.block__list--full {
  border-top: 1px solid rgba(79, 90, 70, 0.4);
  border-bottom: 1px solid rgba(79, 90, 70, 0.4);
}

.block__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 152px;
  padding: 48px 32px 60px 0;
}

.block__title {
  font-size: 24px;
  margin-bottom: 28px;
}

.block__text {
  text-align: center;
}

.border-right {
  border-right: 1px solid rgba(79, 90, 70, 0.4);
}
.material__button {
  margin: 50px auto 0;
}

.slider__button{
  position: absolute;
  z-index: 3;
}

.slider__button-left{
  left: 20px;
}

.slider__button-right{
  right: 20px;
}