.section__portfolio {
  background-color: #f4f0ea;
}

.portfolio__headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  margin-right: 165px;
  width: 168px;
  text-transform: uppercase;
}

.portfolio__text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 361px;
  margin-bottom: 26px;
  margin-top: 36px;
  box-sizing: border-box;
}

.portfolio__text {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 20px;
}

.portfolio__projects {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.project {
  height: 100%;
  padding: 25px 70px 25px 0;
  border-right: 1px solid rgba(79, 90, 70, 0.4);
}

.project__naming {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
}

.project__title {
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: normal;
}

.project__title-link {
  position: relative;
  transition: 0.3s color;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #b58221;
    transform-origin: left center;
    transform: scaleX(0);
    transition: 0.3s transform;
  }
}

.projects:hover {
  .project__title-link {
    color: #b58221;

    &::after {
      transform: scaleX(1);
    }
  }
}

.project__text {
  width: 242px;
}

.portfolio__slider {
  position: relative;
  max-width: 100%;
  height: auto;
  padding: 25px;
  overflow: hidden;
}

.slider__portfolio__slide {
  height: auto;
}

.portfolio__photo {
  width: 100%;
  margin-right: 40px;
}

.button__arrows {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  left: 45px;
  z-index: 1;
  svg {
    width: 28px;
    height: 8px;
    path {
      fill: white;
    }
  }
}
