.filter__wrapper {
  display: flex;

  label {
    color: #a4a4a4;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .item {
    padding: 20px 40px;
    min-width: 350px;
    border-right: 1px solid $line-color;
    &:first-child {
      padding-left: 0;
    }
  }
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  .project__description {
    border: none;
    height: auto;
  }
  .projects__list-project {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 40px 40px 40px 0;
    border-right: 1px solid $line-color;
    position: relative;
    &:after {
      content: "";
      width: 200%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -50%;
      background: $line-color;
    }
    &.large {
      width: 60%;
    }
    &:nth-child(2n) {
      padding-left: 40px;
      padding-right: 0px;
      border-right: 0;
    }
  }
  .project__photo {
    height: 45vh;
    min-height: 350px;
    object-fit: cover;
  }
}

.project-name {
  font-size: 1.8em;
  margin-bottom: 30px;
}
.project-description--text {
  max-width: 1400px;
}
.project-description {
  margin: 60px 0;
  .project-description__wrapper {
    display: flex;
    .item {
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-right: 1px solid $line-color;
      &:first-child {
        padding-left: 0;
        width: 40%;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        line-height: 1.3;
        margin-right: auto;
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .project-description--photo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 20px;
  }
}

.project-gallery {
  margin-left: 80px;
  width: calc(100% - 80px);
  padding: 0;
  margin-bottom: 60px;
  .project__photo {
    height: 60vh;
    width: auto;
  }
  .project__slide.project__slide {
    width: auto;
  }
}
