.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.container--left {
  padding-right: 0;
}

.container-with-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
