.container{
  padding: 0 20px;
}

.container--left {
  padding-right: 0;
}

.container-left {
  width: 100%;
}


@media screen and (min-width: 768px) {
  .container {
    padding: 0 65px;
  }

  .container--left {
    padding-right: 0;
  }

  .container-left {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 80px;
  }

  .container--left {
    padding-right: 0;
  }

  .container-with-border {
    border-bottom: 1px solid rgba(79, 90, 70, 0.4);
  }

  .container-with-border--full {
    border-top: 1px solid rgba(79, 90, 70, 0.4);
    border-bottom: 1px solid rgba(79, 90, 70, 0.4);
  }

  .container-left {
    width: 25%;
    flex-shrink: 0;
  }
}
