.footer {
  border-top: 1px solid rgba(79, 90, 70, 0.4);
}
.page__footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0;
  box-sizing: border-box;
}

.main-info {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(79, 90, 70, 0.4);
  padding-top: 42px;
  padding-right: 40px;
  height: 282px;
}

.footer__logo {
  margin-bottom: 66px;
}

.main-info__text-block {
  display: flex;
  flex-direction: column;
}

.main-info__copy {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.main-info__rules {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 508px;
}

.main-info__terms,
.main-info__condicions {
  font-weight: 100;
  font-size: 14px;
}

.main-info__terms {
  margin-right: 20px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-right: 140px;
  padding-left: 40px;
  height: 282px;
  border-right: 1px solid rgba(79, 90, 70, 0.4);
}

.navigation__item {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer__contact-info {
  display: flex;
  flex-direction: column;
  width: 308px;
  gap: 20px;
  padding-right: 0;
  padding-top: 42px;
  padding-left: 40px;
}

.contact-info__adress {
  font-size: 18px;
}

.footer__tel {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.tel__text {
  font-size: 18px;
  font-weight: 300;
}

.social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
