.header {
  padding: 42px 0 34px;
  border-bottom: 1px solid rgba(79, 90, 70, 0.4);
}

.header-block__logo {
  display: block;
  width: 150px;
  height: 62px;
}

.header__nav {
  display: none;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__burger-button {
  margin-top: 10px;
}

.header__contact-information {
  display: none;
}

.header__lang {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__burger-button {
    display: none;
  }

  .contact-information {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 25px;
  }

  .header__network {
    display: flex;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        svg path {
          fill: #b58221;
        }
      }
    }
  }

  .email,
  .inst {
    padding-right: 15px;
  }

  .tel {
    padding-right: 26px;
    // font-size: 1.2rem;
  }

  .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    display: block;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__list__item {
    padding: 0 2rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .navigation__link {
    transition: color 300ms;
  }

  .navigation__link:hover {
    color: #b58221;
  }

  .header__lang {
    display: block;
  }

  .lang--active {
    color: black;
    padding-right: 20px;
  }

  .lang--inactive {
    color: #a4a4a4 !important;
  }
}
