.header {
  padding: 30px 0;
  border-bottom: 1px solid $line-color;
  font-weight: 300;
  @media screen and (min-width: 1024px) {
    padding: 10px 0 30px;
  }
}

.header-block__logo {
  display: block;
  margin-top: -10px;
  // width: 150px;
  // height: 62px;
}

.header__nav {
  display: none;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__burger-button {
  margin-top: 10px;
}

.header__contact-information {
  display: none;
}

.header__lang {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__burger-button {
    display: none;
  }

  .contact-information {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    // margin-top: 25px;
  }

  .header__network {
    display: flex;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 23px;
        height: auto;
      }
      &:hover {
        svg path {
          fill: #b58221;
        }
      }
      &.email svg {
        width: 30px;
        height: 20px;
      }
    }
  }

  .email,
  .inst {
    padding-right: 15px;
  }

  .tel {
    padding-right: 30px;
    // font-size: 1.2rem;
  }

  .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    display: block;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__list__item {
    padding: 0 3rem;

    text-transform: uppercase;
  }

  .navigation__link {
    transition: color 300ms;
    letter-spacing: 0.8px;
  }

  .navigation__link:hover {
    color: $accent;
  }

  .header__lang {
    display: block;
  }

  .lang--active {
    color: black;
    padding-right: 20px;
  }

  .lang--inactive {
    color: #a4a4a4 !important;
  }
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header-light {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgba(#fff, 0.5);
  a {
    color: #fff;
  }
  svg path {
    fill: #fff;
  }
}
